@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #233233;
    color: white;
    padding: 10px;
}

/* ======= body ======= */

.conteiner {
    background-color: #e7e7e7;
    border-radius: 7px;
    max-width: 800px;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 500px auto;
    padding: 20px;
}

.box {
    display: block;
    padding-right: 30px;
}

.box h2 {
    font-size: 2em;
    margin: 10px 0 ;
}

.box p {
    line-height: 1.4em;
}

input {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    padding: 5px;
    height: 2em;
    width: 90%;
    margin: 10px auto;
}

button {
    background-color: cornflowerblue;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    border: none;
    height: 2.5em;
    margin: auto;
    width: 90%;
}